{% assign rawcategories = "" %}
{% for post in site.posts %}
  {% assign categories0 = post.categories | join:'|' | append:'|' %}
  {% assign rawcategories = rawcategories | append:categories0 %}
{% endfor %}
{% assign rawcategories = rawcategories | split:'|' | sort %}

{% assign site.categories = "" %}
{% for categ in rawcategories %}
  {% if categ != "" %}
    {% if categories == "" %}
      {% assign categories = categ | split:'|' %}
    {% endif %}
    {% unless categories contains categ %}
      {% assign categories = categories | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}
