<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/123ecac47c.js" crossorigin="anonymous"></script>
    {%- include head.html -%}
  </head>
  <body>
    <main class="container">
      <section class="about">
        <a href="/" class="iconlink"> 
          <h3> 
            <i class="fas fa-home"></i> HOME 
          </h3> 
        </a>
        <a href="/"> <img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
        <h2 id="title"> {{ site.plainwhite.name }} </h2>
        <p style="font-size:90%" class="tagline">{{ site.plainwhite.tagline }}</p>
        
        <ul class="social">
          {%- if site.plainwhite.social_links.github -%}
            <a href="https://github.com/{{ site.plainwhite.social_links.github }}">
              <li>
                <i class="fab fa-github"></i>
              </li>
            </a>
          {%- endif -%}

          {%- if site.plainwhite.social_links.linkedIn -%}
            <a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}">
              <li>
                <i class="fab fa-linkedin"></i>
              </li>
            </a>
          {%- endif -%}
          
          {%- if site.plainwhite.social_links.linkedIn -%}
            <a href="{{ site.plainwhite.social_links.wechat }}">
              <li>
                <i class="fab fa-weixin"></i>
              </li>
            </a>
          {%- endif -%}

          {%- if site.plainwhite.social_links.twitter -%}
            <a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}">
              <li>
                <i class="fab fa-twitter-square"></i>
              </li>
            </a>
          {%- endif -%}
        </ul>

        {%- if site.plainwhite.post-categories -%}
          <h3 style="color:gray; font-weight:normal"> Categories: </h3>
            <ul class="post-categories" style="max-width:225px;">
              {% for link in site.plainwhite.post-categories %}
                  <a class="post-link" href="/{{ link.url }}"> <li style="padding: 4px 8px;"> {{ link.categ }} </li> </a>
              {% endfor %}
            </ul>
        {%- endif -%}

        <p>&copy; {{ "now" | date: "%Y" }} </p>

      </section>
      <section class="content">
        {{ content }}
      </section>
    </main>
    {%- if site.plainwhite.analytics_id -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
      <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
    {%- endif -%}
    {% include tracking.html %}
  </body>
</html>
