---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if paginator.posts.size > 0 -%}
  <ul class="posts">
    <h1 id="posts-label">All Posts</h1>

    {% for post in paginator.posts %}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <div>
            <ul class="post-categories"> 
              {%- for categ in post.categories -%}
                <a class="post-link" href="/categories/{{ categ | downcase }}"> <li>{{ categ }} </li> </a>
              {%- endfor -%}
            </ul>
            <ul class="post-tags">
              {%- for tag in post.tags -%}
                <a class="post-link" href="/tags/{{ tag | downcase }}"> <li>{{ tag }}</li> </a>
              {%- endfor -%}
            </ul>
          </div>
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}
          </div>
        </div>
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
    <HR color=#EAEDED SIZE=1>
    {% endfor %}
  </ul>

  {% include paginator.html %}

{%- endif -%}
