---
layout: default
---

{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}

{%- if page.sidebar != false -%}
<div class="sidebar">
  {% include toc.html html=content %}
</div>
{%- endif -%}

<div class="post-container" id="viewpoint">
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </a>
  <div class="post-meta">
    <div>
      <ul class="post-categories">
        {%- for categ in page.categories -%}
          <a class="post-link" href="/categories/{{ categ | downcase }}"> <li>{{ categ }}</li> </a>
        {%- endfor -%}
      </ul>
      <ul class="post-tags">
        {%- for tag in page.tags -%}
          <a class="post-link" href="/tags/{{ tag | downcase }}"> <li>{{ tag }}</li> </a>
        {%- endfor -%}
      </ul>
    </div>
    <div class="post-date">
      <i class="icon-calendar"></i>
      {{ page.date | date: date_format }}
    </div>
  </div>
  <div style="line-height:77%;">
    <br>
  </div>
  <div class="post">
    {%- if page.toc == true -%}
      <div class="toc">
        {% include toc.html html=content %}
      </div>
      </br>
    {%- endif -%}
    {{ content }}
  </div>

  <br> </br>
  <p><font color="grey" size="4"> Comments </font></p>
  <HR color=#D1D0CE SIZE=10>
  
  {%- if site.plainwhite.disqus_shortname -%}
  <div id="disqus_thread" style="margin-top:25px"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };
    (function () {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.plainwhite.disqus_shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
      powered by Disqus.</a></noscript>
  {%- endif -%}
  
  {% include disqus.html %}
  
</div>
